@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/* @import "tailwindcss"; */

button.Sub-button {
  background: rgb(103, 170, 238);
  border: 0;
  color: white;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  height: 37px;
  border-radius: 5px;
}

input {
  box-sizing: border-box;
  font-family: "Poppins", serif;
  color: white;
}

input.overlay {
  background: rgba(0, 0, 0, 0);
  position: relative;
  width: 25%;
  border-radius: 5px;
  padding-left: 10px;
}
form {
  display: flex;
  justify-content: center;
}
